In [4]:
x=Rent.objects.get(pk=1)
print(x.customer)

Wasit Limprasert

In [5]:
print(x.car)

Honda.Yaris

In [6]:
x=Customer.objects.get(pk=1)
print(x)

Wasit Limprasert

In [11]:
x.rent_set.all()

In [13]:
print(Customer.objects.get(pk=1).rent_set.all().query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."customer_id" = 1

In [14]:
print(Car.objects.get(pk=1).rent_set.all().query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."car_id" = 1

In [22]:
#%%timeit -n1
#who does rent the first car?
for i in Car.objects.get(pk=1).rent_set.all():
    print(i.customer)

Wasit Limprasert
David Bach

In [24]:
print(Car.objects.get(pk=1).rent_set.all().query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."car_id" = 1

In [23]:
#%%timeit -n1
for i in Rent.objects.filter(car__pk=1):
    print(i.customer)

Wasit Limprasert
David Bach

In [25]:
print(Rent.objects.filter(car__pk=1).query)

SELECT "myapp_rent"."id", "myapp_rent"."start", "myapp_rent"."stop", "myapp_rent"."cost", "myapp_rent"."customer_id", "myapp_rent"."car_id" FROM "myapp_rent" WHERE "myapp_rent"."car_id" = 1

In [28]:
#How much money the first person rent?
x=0
for i in Customer.objects.get(pk=1).rent_set.all():
    x+=i.cost
print(x)

400.00

In [30]:
x=0
for i in Rent.objects.filter(customer__pk=1):
    x+=i.cost
print(x)

400.00

In [32]:
Rent.objects.all()

In [34]:
Rent.objects.values('customer')

In [37]:
Rent.objects.values('customer').annotate(Sum('cost'))

In [38]:
print(Rent.objects.values('customer').annotate(Sum('cost')).query)

SELECT "myapp_rent"."customer_id", CAST(SUM("myapp_rent"."cost") AS NUMERIC) AS "cost__sum" FROM "myapp_rent" GROUP BY "myapp_rent"."customer_id"

In [41]:
x=Rent.objects.raw('''
SELECT "myapp_rent"."customer_id", CAST(SUM("myapp_rent"."cost") AS NUMERIC) AS "cost__sum" FROM "myapp_rent" GROUP BY "myapp_rent"."customer_id"
''')